default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\Rule\RuleContext
                - App\Tests\Behat\Dog\DogDefinitionContext

    extensions:
        FriendsOfBehat\SymfonyExtension: null
        DVDoug\Behat\CodeCoverage\Extension:
                    filter:
                        include:
                            directories:
                                'src': ~
                    reports:
                        html:
                            target: build/coverage-behat
                        text:
                            showColors: true
