default:
    suites:
        default:
            contexts:
                - App\Tests\Behat\Rule\RuleContext
                - App\Tests\Behat\Dog\DogDefinitionContext

    extensions:
        FriendsOfBehat\SymfonyExtension: null
